
@{
    Layout = null;
}

<h3>MVC kamp tablo örneği -- Kategori</h3>
<br />
<table>
    <tr>
        <th> ID</th>
        <th> Adı</th>
        <th> Açıklama</th>
        <th> Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açılama yaptık</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>açıklama yaptık</td>
        <td>True</td>
    </tr>
</table>
