
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC kamp tablo örneği -- Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th> Adı</th>
        <th> Açıklama</th>
        <th> Durum</th>
        <th> Güncelle</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açılama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>sinema</td>
        <td>açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
</table>
<button class="btn btn-info">yeni kategori</button>
<button class="btn btn warning">Kategori listesi</button>
<button class="btn btn-danger">Kategori açıklamaları</button>
